<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bake</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="all.css" />
    <link rel="stylesheet" href="nav.css" />
    <link rel="stylesheet" href="body.css" />
    
    
    
</head>
<body>
    <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg px-4">
            <a href="" class="navbar-brand" href="#"><img src="images/logo.svg" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav">
                <span class="toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="myNav">
                <ul class="navbar-nav mx-auto text-capitalize">
                    <li class="nav-item active">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Store</a>
                    </li>
                </ul>
                <div class="nav-info-items d-none d-lg-flex">
                    <div class="nav-info align-items-center d-flex justify-content-between mx-lg-5">
                        <span class="info-icon mx-lg-3"><i class="fas fa-phone"></i></span>
                        <p class="mb-0">+ 123 456 7890</p>
                    </div>
                    <div id="cart-info" class="nav-info align-items-center cart-info d-flex justify-content-between mx-lg-5">
                        <span class="cart-info_icon mr-lg-3"><i class="fas fa-shopping-cart"></i></span>
                        <p class="mb-0 text-capitalize"><span>Total: </span><span class="cart-total-price"></span>
                        </p>
                    </div>
                </div>
            </div>
        </nav>
        <!--End Nav-->
               <!--Banner-->
        <div class="container-fluid">
            <div class="row max-height justify-content-center align-items-center">
                <div class="col-10 mx-auto banner text-center">
                    <h1 class="text-capitalize">Welcome to <strong class="banner-title">MaCali's</strong></h1>
                    <a href="#" class="btn banner-link text-uppercase my-2">Explore</a>
                </div>
                <!--cart-->
                <div id="cart" class="cart">
                    <!--Cart item-->
                    <div class="cart-item d-flex justify-content-between text-capitalize my-3">
                        <img src="./img-cart/cake-2.jpeg" alt="" class="img-fluid rounded-circle" id="item-img">
                        <div class="item-text">
                            <p id="cart-item-title" class="font-weight-bold mb0">Cart item</p>
                            <span>$</span>
                            <span id="cart-item-price" class="cart-item-price mb-0">10.99</span>
                        </div>
                        <a href="#" class="cart-item-remove">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                    <!--end of cart item-->

                    <!--cart item-->
                    <div class="cart-item d-flex justify-content-between text-capitalize my-3">
                        <img src="./img-cart/doughnut-2.jpeg" alt="" class="img-fluid rounded-circle" id="item-img">
                        <div class="cart-item-text">
                            <p id="cart-item-title" class="font-weight-bold mb-0">Cart item</p>
                            <span>$</span>
                            <span id="cart-item-price" class="cart-item-price mb-0">10.99</span>
                        </div>
                        <a href="#" id="cart-item-remove" class="cart-item-remove">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                    <!--End of cart item-->

                    <!--cart total-->
                    <div class="cart-total-container d-flex justify-content-around text-capitalize mt-5">
                        <h5>total</h5>
                        <h5><strong id="cart-total" class="font-weight-bold"></strong> </h5>
                    </div>
                    <!--end cart total-->
                    <!--cart buttons-->
                    <div class="cart-buttons-container mt-3 d-flex justify-content-between">
                        <a href="#" id="clear-cart" class="btn btn-outline-secondary btn-black text-uppercase">clear cart</a>
                        <a href="#" class="btn btn-outline-secondary text-uppercase btn-pink">checkout</a>
                      </div>
                    <!--end of  cart buttons -->

                </div>
            </div>
        </div>
    <!--end banner-->



    </header>
    <!--Landing-->
    <div class="landing">
        
    </div>
    <!--About Us-->
    <section class="about py-5" id="about">
        <div class="container">
    
          <div class="row">
            <div class="col-10 mx-auto col-md-6 my-5">
              <h1 class="text-capitalize">about <strong class="banner-title color-text ">us</strong></h1>
              <p class="my-4 text-muted w-75">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, aliquam voluptas
                beatae vitae expedita consectetur nesciunt quia deserunt asperiores facere fuga dicta fugiat corrupti et omnis
                porro at dolorum! Ad!</p>
              <a href="#" class="btn-2 btn-outline-secondary btn-black text-uppercase ">explore</a>
    
            </div>
            <div class="col-10 mx-auto col-md-6 align-self-center my-5">
              <div class="about-img__container">
                <img src="/public/Images/cake-12.jpg" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--Order Section-->
    <section class="container content-section content-wrapper">
            <div class="text-center">
                <h2 class="section-header">Our <span class="color-text"> Store</span></h2>
            </div>
            <div class="wrapper">
                <div class="shop-items">
                    <% items.music.forEach((item) => { %>
                        <div class="shop-item" data-item-id="<%= item.id %>">
                            <div class="item-overlay">
                                <span class="shop-item-description"><%= item.description %></span>
                            </div>
                            <img class="shop-item-image" src="Images/<%= item.imgName %>">
                            <div class="shop-item-details">
                                <span class="shop-item-title"><%= item.name %></span>
                                <button class="btn btn-primary shop-item-button" type="button">Add to cart</button>
                                <span class="shop-item-price">$<%= item.price / 100 %></span>
                            </div>
                        </div>
                    <%})%>
                </div>
            </div>
        </section>
    
        <section class="container content-section">
            <h2 class="section-header">MERCH</h2>
            <div class="shop-items">
                <% items.merch.forEach(item => { %>
                    <div class="shop-item" data-item-id="<%= item.id %>">
                        <span class="shop-item-title"><%= item.name %></span>
                            <img class="shop-item-image" src="Images/<%= item.imgName %>">
                            <div class="shop-item-details">
                                <span class="shop-item-price">$<%= item.price / 100 %></span>
                                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                            </div>
                    </div>
                <%})%>
            </div>
        </section>
    
     <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
     </section>
    
     <!--Footer-->
     <div class="footer">

     </div>

          <script src="https://checkout.stripe.com/checkout.js"></script>
        <script>
            const stripePublicKey = '<%= stripePublicKey %>'
        </script>
        <script src="store.js"></script>
</body>
</html>